@{
    ViewData["Title"] = "Views/Home/Contact.cshtml";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    953 Trumbull St<br />
    Deltona, FL 32725<br />
    <abbr title="Phone">P:</abbr>
    386.315.4656
</address>

<address>
    <strong>Support:</strong> <a href="mailto:perk32725@gmail.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:perk32725@gmail.com">Marketing@example.com</a>
</address>
