@{
    ViewData["Title"] = "Views/MusicDB/Catalog.cshtml";
}
<h2>Catalog</h2>
<p>Hello from Views/MusicDB/Catalog.cshtml</p>

<ul>
    Catalog.cshtml: ViewData["MainMsg"] is:
    <li>@ViewData["MainMsg"]</li>
</ul>